@import "../../../variables.scss";

.fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparentize(#000, 0.1);
    z-index: 5000;
    cursor: pointer;
    transition: display 300ms ease;
}

.image-container {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: $BORDER_RADIUS;

    &::after {
        content: "close";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-100%);
    }
}

.image-tool__image-picture {
    height: 250px;
    width: 100%;
    background: $BACKGROUND_COLOR;
    background-position: center center;
    cursor: pointer;
    border-radius: $BORDER_RADIUS;
    margin-bottom: $_20_SPACING_SIZE;
    background-size: cover;
    border: $BORDER_THIN;
}

// Styling the tools.
// Paragraph
.paragraph-text-style {
    color: $WHITE_COLOR !important;
}

// Delimeter.
.delimeter {
    width: 100%;
    text-align: center;
    border-bottom: 1.8px solid transparentize(#000000, 0.5);
    margin: $_20_SPACING_SIZE 0;
}

// List items.
ul > li {
    margin-bottom: $_10_SPACING_SIZE;
    text-indent: 0;
}

// Table.
table {
    tr {
        &:first-child {
            td {
                text-transform: uppercase !important;
            }
        }
        
        td {
            padding: $_10_SPACING_SIZE;
            border-bottom: $BORDER_THIN;
    
            &:first-child {
                border-right: $BORDER_THIN;
            }
    
            &,
            &:first-child {
                border-color: $WHITE_COLOR;
            }
        }
    }
}