<div class="editor-container">
  <div id="editor" *ngIf="!this.isReadOnly"></div>

  <div class="ce-block"  *ngIf="this.isReadOnly">
    <div class="fullscreen-image" *ngIf="this.currentFullscreenImage" (click)="this.zoomInOut(null)">
        <div class="image-container">
            <img [src]="this.currentFullscreenImage" alt="Fullscreen Image">
        </div>
    </div>

    <div class="ce-block__content">
        <ng-container [ngSwitch]="block?.type" *ngFor="let block of this.data; let i = index">
            <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
                <div fxFlex="92">
                    <br>
                    <br>
                    
                    <!-- Paragraph -->
                    <div *ngSwitchCase="'paragraph'">
                        <div class="paragraph-text-style" [innerHTML]="block?.data?.text">
                        </div>
                    </div>

                    <!-- List -->
                    <div *ngSwitchCase="'nestedList'">
                        <ul [ngClass]="['cdx-block', 'cdx-list', 'cdx-list--' + block?.data?.style]">
                            <li class="paragraph-text-style" *ngFor="let i of block?.data?.items" [innerHTML]="i.content"></li>
                        </ul>
                    </div>

                    <!-- Delimeter -->
                    <div *ngSwitchCase="'delimeter'" class="delimeter"></div>

                    <!-- Header -->
                    <div style="height: fit-content;" *ngSwitchCase="'header'"
                        innerHTML="{{'<h' + block?.data?.level + ' class=ce-header' + '>' + block?.data?.text + '</h' + block?.data?.level + '>'}}">
                    </div>

                    <!-- Image / Video -->
                    <div *ngSwitchCase="'image'">
                        <div class="cdx-block image-tool image-tool--filled" *ngIf="block?.data?.cdnUrl">
                            <div class="image-tool__image">
                                <ng-container *ngIf="block?.data?.isImage; else videoTemplate">
                                    <div class="image" width="100%" (click)="this.zoomInOut(block?.data?.cdnUrl)" class="image-tool__image-picture"
                                        [style]="'background-image: url(' + block?.data?.cdnUrl + ')'" data-title="Click to zoom"></div>
                                    <div style="text-align: center; margin-top: 5px;" [innerHTML]="block?.data?.caption"></div>
                                </ng-container>

                                <ng-template #videoTemplate>
                                    <app-video class="image-tool__image-picture" autoplay loop controls
                                        [src]="block?.data?.file?.url"></app-video>
                                    <div style="text-align: center; margin-top: 5px;" [innerHTML]="block?.data?.caption">
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>

                    <!-- Embed -->
                    <div *ngSwitchCase="'embed'">
                        <div class="cdx-block embed-tool">
                            <iframe class="embed-tool__content" style="width:100%;" height="320" frameborder="0"
                                allowfullscreen [src]="block?.data?.embed | safe : 'resourceUrl'"></iframe>
                            <div style="text-align: center; margin-top: 5px;" [innerHTML]="block?.data?.caption"></div>
                        </div>
                    </div>

                    <!-- Code -->
                    <div *ngSwitchCase="'code'">
                        <div class="cdx-block ce-code"><span
                                style="text-align: right; margin-bottom: 5px;">{{block?.data?.language}}</span>
                            <pre><code [innerText]="block?.data?.code"></code></pre>
                        </div>
                    </div>

                    <!-- Table -->
                    <div *ngSwitchCase="'table'">
                        <div class="tc-editor cdx-block">
                            <div class="tc-table__wrap">
                                <table class="tc-table">
                                    <tbody>
                                        <tr *ngFor="let r of block?.data?.content; let ri = index;">
                                            <td class="tc-table__cell" *ngFor="let c of r; let ci = index;">
                                                <div class="tc-table__area">
                                                    <div class="tc-table__inp" contenteditable="false"
                                                        [innerHTML]="block?.data?.content[ri][ci]"></div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

    <br>
    <br>
    <img src="/assets/Pattern_5.svg" alt="Pattern" width="100%">
  </div>
</div>
