<div class="footer-container">
  <div class="desktop-footer-container content-wrapper">
    <div class="full-width-content"></div>

    <div class="site-footer-logo">
      <img
        src="/assets/company+wordmark+white.svg"
        alt="Towards Common Foundry, Ltd Logo"
      />
    </div>

    <div class="footer-navigation-sections">
      <div class="footer-navigation-section">
        <div class="paragraph-text-style light-color">
          At Towards Common Foundry, our unwavering contribution is to empower
          and uplift dedicated youth, igniting a transformative journey towards
          a brighter future. We believe that every young individual deserves
          inclusive opportunities.

          <!-- <br /> -->
          <!-- Crafted with <b>magic</b> and <b>love</b> in South Africa. -->
        </div>

        <div
          class="navigation-section-title header-text-style smaller company-name"
        ></div>
        <div class="section-links">
          <a href="https://towardscommonfoundry.com/about" target="_blank"
            >About</a
          >
          <a
            href="https://towardscommonfoundry.com/about/mission-statement"
            target="_blank"
            >Our mission statement</a
          >
          <a
            href="https://blog.towardscommonfoundry.com/ref=hetchfund-helpcenter-footer"
            >Our blog</a
          >
          <a href="https://www.hetchfund.com/general/sponsors"
            >Our partners and sponsors</a
          >
        </div>
      </div>

      <div class="footer-navigation-section">
        <div class="navigation-section-title header-text-style smaller">
          Economic development
        </div>
        <div class="section-links">
          <a href="https://blog.hetchfund.com/for-the-needy">For the needy</a>
          <a href="https://www.hetchfund.com/referrals">Refer to a friend</a>
          <a href="https://www.hetchfund.com/categories/community"
            >Community initiatives</a
          >
          <a href="https://hiring.hetchfund.com/ref=helpcenter-footer"
            >Our open jobs</a
          >
        </div>
      </div>

      <div class="footer-navigation-section">
        <div class="navigation-section-title header-text-style smaller">
          Understanding the platform
        </div>
        <div class="section-links">
          <a href="/support/">Support</a>
          <a href="/support/what-is-crowdfunding">What is crowdfunding?</a>
          <a href="/support/our-fee-structure">Our fee structure</a>
          <a
            href="/support/create-planning-your-pitch-and-drafting-for-successful-crowdfunding"
            >Project planning and drafting</a
          >
          <a href="https://www.hetchfund.com/statistics">Funding statistics</a>
          <a href="https://branding.hetchfund.com/">Branding guidelines</a>
        </div>
      </div>
    </div>

    <div
      class="bottom-currency-selector"
      (click)="this.openCurrencySelectorModal()"
    >
      <span
        >{{ this.currencyResolverService.currency.name }} ({{
          this.currencyResolverService.currency.symbol
        }})</span
      >
      <ion-icon name="chevron-down-outline"></ion-icon>
    </div>

    <div class="footer-bottom-links">
      <div class="footer-legal-links">
        <a href="/help">Ask for support</a>
        <a href="/policies/privacy-policy">Privacy policy</a>
        <a href="/policies/refund-policy">Refund policy</a>
        <a href="/policies/cookie-policy">Cookie policy</a>
        <a href="/policies/payments-policy">Payments policy</a>
      </div>

      <div class="footer-social-links">
        <a href="https://facebook.com/hetchfund/" target="_blank">LinkedIn</a>
        <a href="https://twitter.com/hetchfund/" target="_blank">Twitter</a>
        <a href="https://instagram.com/hetchfund/" target="_blank">Instagram</a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="footer-center-attribution">
  Proudly South African &copy; Hetchfund, courtesy of Towards Common Foundry Ltd
  &trade; 2022
</div> -->
