<div
  class="header-container content-wrapper"
  [attr.data-is-logovisible]="true"
  (window:scroll)="onScroll($event)"
>
  <div class="search-button">
    <a href="/search"><ion-icon name="search-outline"></ion-icon></a>
  </div>

  <a href="/">Discover</a>
  <a href="/categories">Categories</a>

  <div class="start-pitch-button">
    <a href="/pitches/create/basics">Start a pitch</a>
  </div>

  <!-- Space -->
  <a class="hetchfund-header-logo" href="/pitches">
    <img src="/assets/hetchfund+white.svg" alt="Hetchfund Logo" />
  </a>
  <div class="flexbox-space"></div>

  <!-- Login / Signup button -->
  <a href="/signin" *ngIf="!this.sessionService.sessionToken"
    >Sign in or join our community</a
  >
  <a
    [href]="'/hetcher/' + this.sessionService.data?.username"
    *ngIf="this.sessionService.sessionToken"
    >{{ this.sessionService.data?.display_name }}</a
  >
  <div class="hamburger-menu-button" (click)="this.sidebarService.toggle(true)">
    <span class="hamburger-line"></span>
    <span class="hamburger-line"></span>
  </div>
</div>
