@import "../../../variables.scss";

// CROSSPLATFORM HEADER
.alert-banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: black;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  border-bottom: 4px solid $SECONDARY_THEME_COLOR;
  gap: 40px;

  .banner-message-container {
    flex: 1;
    padding-left: $_20_SPACING_SIZE;
  }

  .buttons {
    padding-right: $_15_SPACING_SIZE;
  }
}

.header-container {
  background: $DARK_COLOR;
  border-bottom: $BORDER;
  width: 100%;

  .header-wrapper {
    display: flex;
    align-items: center;
    gap: $_20_SPACING_SIZE;
  }
  
  * {
    color: $LIGHT_COLOR;
  }

  .hamburger-menu-button {
    cursor: pointer;
    padding: $_10_SPACING_SIZE;
  }

  .hamburger-menu-button .hamburger-line {
    display: block;
    height: 2px;
    width: 30px;
    background: $LIGHT_COLOR;

    &:first-child {
      margin-bottom: 5px;
    }
  }

  .hetchfund-header-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;

    img {
      height: 55px;
    }
  }

  .search-button {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: $_20_SPACING_SIZE;
  }
}

.header-container[data-is-logovisible="true"] {
  .hetchfund-header-logo {
    visibility: visible;
  }
}

// MOBILE DEVICES
@media screen and (min-width: 650px) {
  
}