<ion-content>
  <app-header [hasBackground]="true"></app-header>

  <!-- Coinbase background overlay. -->
  <div class="coinbase-background-overlay" *ngIf="this.isAwaitCoinbaseWindow">
    <div class="overlay-contents">
      <img
        class="coinbase"
        alt="Coinbase"
        src="/assets/payments/nowpayments-logos-idN01P6NR4.svg"
      />
      <span>Don't see the secure NOWPayments window? We'll help you re-launch the window to complete your purchase.</span>
      
      <div class="buttons">
        <div class="button">Continue to payment</div>
        <div class="button secondary">Cancel the payment</div>
      </div>
    </div>
  </div>
  
  <div class="page-content">
    <div class="content-wrapper split bordered">
      <div class="left-side">
        <div class="contribution-wrapper">
          <div class="header-text-style page-name">
            Reward to be recieved:<br />
            <span
              ><a
                class="currency-selectable project-name theme-text-style"
                [href]="'/pitches/' + this?.pitchKey"
                target="_blank"
              >
                {{this.reward ? this.reward?.description : "(None)"}}
              </a></span
            >
          </div>
          <br />

          <br />
          <i class="paragraph-text-style">
            <b>Remember:</b> Rewards are and may not be gauranteed by Hetchfund
            because it's the responsibility of the pitch managers to fullfil
            rewards with hetchers, and keep them updated.
            <a href="">Learn more.</a>
          </i>
        </div>
      </div>

      <div class="right-side">
        <div class="contribution-amount-summary">
          <div class="header-text-style small">
            CONTRIBUTION AMOUNT:
            <span
              class="amount"
              data-title="Click to change currency"
              (click)="this.currencyService.openCurrencySelectorModal()"
              >{{this.currencyService.format(this.contributionAmount,
              this.supaChargeAmount)}}</span
            >
          </div>

          <span class="contribution-add-section"
            >Supa-charge your contribution:</span
          >

          <div class="supercharges-options">
            <span
              class="supercharge-amount"
              *ngFor="let supacharge of [10, 20, 30, 40, 50, 100]"
              [attr.data-title]="supacharge === this.supaChargeAmount ? 'Tap to remove.' : 'Tap to add.'"
              [attr.data-selected]="supacharge === this.supaChargeAmount"
              (click)="this.setSuperchargeAmount(supacharge)"
              >+ {{this.currencyService.format(supacharge)}}
              <!-- <ion-icon
                name="close-circle-outline"
                *ngIf="supacharge === this.supaChargeAmount"
              ></ion-icon> -->
            </span>
          </div>
        </div>

        <div class="header-text-style small">Contribute with Yoco:</div>
        <!-- Yoco Payment method. -->
        <div class="pill-text-style">Lower fees (Recommended for small amounts)</div>
        <div
          class="payment-button yoco-button"
          (click)="this.openYocoPopup('https://pay.yoco.com/towards-common-foundry')">
          <span>Pay with</span>
          <img class="yoco" src="/assets/payments/yoco_colour.svg" alt="Yoco" />
        </div>

        <br>
        <br>
        <div class="header-text-style small">Or you can contribute with PayPal:</div>
        <div class="pill-text-style warning-style">Faster checkout (Recommended for larger amounts)</div>
        <!-- PayPal payment method. -->
        <div class="paypal-button">
          <div
            style="text-align: center; margin-top: 0.625rem"
            id="paypal-button-container"
          ></div>
        </div>

        <br>
        <div class="supported-payment-methods">
          <img
            class="visa"
            src="/assets/payments/Visa_Brandmark_White_RGB_2021.png"
            alt="Visa"
          />

          <img
            class="mastercard"
            src="/assets/payments/ma_symbol_opt_73_3x.png"
            alt="Mastercard"
          />

          <img
            class="amex"
            src="/assets/payments/American_Express_Square_Logo.png"
            alt="Amex"
            data-title="Amex Accepted."
          />
        </div>

        <!-- Seperate the payment sections. -->
        <!-- <br>
        <br> -->
        <!-- <div class="header-text-style small">Contribute using your cryptocurrency wallet:</div> -->
        <!-- Cryptopayment method. -->
        <!-- <div
          class="payment-button crypto-button"
          (click)="this.requestCryptoPayment()"
        >
          <span>Cryptopay with</span>
          <img
            class="nowpayments"
            alt="NOWPayments"
            src="/assets/payments/nowpayments-logos-idN01P6NR4.svg"
          />
        </div> -->
        
        <!-- Available currencies via cryptopayments. -->
        <!-- <br />
        <div class="supported-payment-methods">
          <img
            src="/assets/payments/bitcoin.png"
            data-title="Bitcoin Accepted"
          />
          <img
            src="/assets/payments/bitcoin_cash.png"
            data-title="Bitcoin Cash Accepted"
          />
          <img
            src="/assets/payments/dodgecoin.png"
            data-title="Dodgecoin Accepted"
          />
          <img
            src="/assets/payments/etherium.png"
            data-title="Etherium Accepted"
          />
          <img
            src="/assets/payments/tether_coin.png"
            data-title="Tether Accepted"
          />
          <img
            src="/assets/payments/usd_cash.png"
            data-title="USD Cash Accepted"
          />
        </div> -->
      </div>
    </div>

    <div class="disclaimers">
      <span class="paragraph-text-style">
        <b>Your payment information "will not" be saved for reuse.</b> By contributing through Hetchfund.com, you agree that we have permission to provide your email address to the project creator incase they may need to contact you in regards to the contribition.
      </span>

      <br />

      <div class="policies-anchors">
        <a href="">Our payment policy</a>
        <a href="">Our third-party disclosures</a>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
