@import "../../../variables.scss";

// Categories container
.categories-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: $_10_SPACING_SIZE;
  padding: $_10_SPACING_SIZE 0;
  margin-bottom: $_20_SPACING_SIZE;
}

.letter-separation {
  font-weight: 900;
  color: $THEME_COLOR;
  font-size: large;
}

.categories-container .category {
  padding: $_20_SPACING_SIZE;
  font-size: 1.5rem;
  font-weight: bolder;
  background: $DARK_COLOR;
  border: $BORDER;
  color: $WHITE_COLOR;
  border-radius: 0;
  text-decoration: none;
}

.categories-container .category:hover {
  color: $LIGHT_COLOR;
  background: $DARK_GRAY_COLOR;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 1260px) {
  .categories-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1020px) {
  .categories-container {
    grid-template-columns: 1fr 1fr;
  }
}

// MOBILE DEVICES
@media screen and (max-width: 650px) {
  .categories-container {
    grid-template-columns: 1fr;
  }

  .categories-container .category {
    background: transparent;
    border-bottom: $BORDER;
    border-radius: 0;
  }
}
