<ion-content>
  <app-header [hasBackground]="true"></app-header>

  <div class="page-content content-wrapper">
    <!-- Header that shows the steps of the pitch creation process -->
    <app-pitch-create-steps
      [step]="2"
      [saveMethod]="this.save"
      [binder]="this"
      [draftProgress]="this.draft?.draft_progress"
    ></app-pitch-create-steps>
    
    <span class="header-text-style">Pitch story</span>
    <div class="field-status">(REQUIRED)</div>

    <span class="paragraph-text-style" [style.max-width]="'50%'"
      ><ion-icon name="information-circle"></ion-icon>
      <b>Requirements (mandotory):</b> Your story should begin with a
      captivating introduction, highlight your project's purpose or innovation.
      Describe benefits and your team briefly, using visuals to illustrate your
      visio and possible product designs with images.
    </span>

    <div class="editor-container">
      <app-rich-text-editor
        #TextEditor
        [isAwaitData]="true"
        [isReadOnly]="false"
        [isVisible]="true"
      ></app-rich-text-editor>
    </div>

    <app-create-bottom-footer
      [key]="this.draft_key"
      [progress]="this.draft"
      [save]="this.save"
      [binder]="this"
    ></app-create-bottom-footer>

    <div class="story-requirements">
      <div class="header-text-style">Story rules and regulations</div>

      <ul class="paragraph-text-style">
        <li>Within 250 words.</li>
        <li>Should be inspirational and informative.</li>
        <li>
          Should be at all costs respectful, truthful, without any forgery.
        </li>
        <li>Should follow all moral community guidelines.</li>
        <li>
          Should not be religious, could be a charity from a religious
          institution if not should a professional pitch.
        </li>
        <li>
          No offensive, racist, judgemental words allowed or project will be
          rejected at review.
        </li>
      </ul>

      <div class="paragraph-text-style">
        For more information:
        <a href="" target="_blank">Please read our community guidelines.</a>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
