<div class="bottom-button-panel">
  <div class="paragraph-text-style">
    Use the button to save and go to the next step:
  </div>
  <div class="flexbox-space"></div>
  

  <button
    *ngIf="this.isNewPitch"
    class="secondary"
    (click)="this.createMethod()"
  >
    Create Pitch
  </button>

  <!-- Sending out for review. -->
  <button (click)="this.sendForReview()" class="secondary" *ngIf="this.isReadyForReview">Send for Review</button>

  <!-- Saves the current stage. -->
  <button
    *ngIf="!this.isNewPitch"
    (click)="this.saveMethod()"
  >
    Save Changes
  </button>
  
  <!-- To go to the next drafting stage. -->
  <button
    class="icon-button"
    data-title="Next stage"
    (click)="this.nextStage()"
    *ngIf="this.isLastStage !== true && !this.isNewPitch"
  >
    <ion-icon name="arrow-forward-sharp" size="large"></ion-icon>
  </button>
</div>
