@import "../../../variables.scss";

.support-portal-header-searchbox {
  display: flex;
  gap: $_20_SPACING_SIZE;
  height: 80px;

  .search-button {
    display: grid;
    place-items: center;
    height: 100%;
    width: 95px;
    border: $BORDER;
    border-radius: $BORDER_RADIUS;
    background: $SECONDARY_THEME_COLOR;
    cursor: pointer;
  }

  .search-button.add-button {
    background: $DARK_COLOR;
    border-radius: 100px;

    &:hover  {
      border-color: $SECONDARY_THEME_COLOR;
      ion-icon {
        color: $SECONDARY_THEME_COLOR !important;
      }
    }
  }

  .search-button ion-icon {
    font-size: 30px;
  }
}

.search-input-container {
  height: 100%;
  width: 100%;
  border: $BORDER;
  border-radius: $BORDER_RADIUS;
}

.search-input-container input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  background: $DARK_COLOR !important;
  border-radius: $BORDER_RADIUS;

  .search-input-container:focus-within {
    border-color: $SECONDARY_THEME_COLOR !important;
  }
}

.search-input-container input,
.search-input-container input::placeholder {
  font-size: 42px;
  font-weight: 600;
}

.search-input-container ion-icon {
  font-size: 42px;
  position: absolute;
  top: 0;
  left: 20px;
}

// SUPPORT ARTICLES
.support-portal-articles {
  padding: $_20_SPACING_SIZE 0;
}

.support-portal-articles .articles-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: $_20_SPACING_SIZE;
  margin: $_20_SPACING_SIZE 0;
}

.support-portal-articles .articles-content .article {
  display: flex;
  flex-direction: column;
  gap: $_10_SPACING_SIZE;
  border-radius: $BORDER_RADIUS;
  border: $BORDER;
  background: $DARK_COLOR;
}

.support-portal-articles .articles-content .article .thumbnail-container {
  height: 150px;
  width: 100%;
  background: $GRAY_COLOR;
  margin-bottom: $_10_SPACING_SIZE;
  background-image: url(https://cdn.openart.ai/uploads/image_knhkoCT4_1695310397517_512.webp);
  background-size: cover;
  background-position: center;
  border-top-left-radius: $BORDER_RADIUS;
  border-top-right-radius: $BORDER_RADIUS;
}

.support-portal-articles
  .articles-content
  .article
  .article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    padding: 0 $_10_SPACING_SIZE $_20_SPACING_SIZE $_10_SPACING_SIZE;
  }

.support-portal-articles
  .articles-content
  .article
  .article-content
  .article-category {
    display: block;
    width: fit-content;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: small;
    padding: $_5_SPACING_SIZE $_10_SPACING_SIZE;
    margin-bottom: $_10_SPACING_SIZE;
    background: $BACKGROUND_COLOR;
    border-radius: 100px;
}

.article-content .article-main-author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.article-content .article-main-author ion-icon {
  font-size: 20px;
  color: $SECONDARY_THEME_COLOR;
}

// TOPICS
.topics {
  text-align: center;
}

.topics-content {
  margin-top: $_20_SPACING_SIZE;
}

.topics .topic {
  display: inline-block;
  padding: 10px;
  background: $THEME_COLOR;
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 10px;
  color: $LIGHT_COLOR;
  border: $BORDER;
  border-radius: $BORDER_RADIUS;
}
