<ion-content>
  <app-header></app-header>
  <div class="page-content content-wrapper">
    <!-- SUPPORT PORTAL HEADER -->
    <div class="support-portal-header-searchbox">
      <div class="header-text-style header-searchbox-title">
        How can we assist you?
      </div>
      <div class="search-input-container">
        <ion-icon name="search-sharp"></ion-icon>
        <input
          type="text"
          placeholder="Type here to search articles"
          name="search"
          autofocus
        />
      </div>
    </div>

    <!-- ARTICLES SECTION -->
    <div class="support-portal-articles">
      <div class="header-text-style">Support articles</div>
      <div class="articles-content">
        <div class="article">
          <div class="thumbnail-container"></div>
          <div class="article-content">
            <div class="article-category">Financial management</div>
            <a
              class="header-text-style article-name smaller"
              href="/support/article/1"
            >
              How can I change the credit card on file for my account?
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- EXPLORE TOP TOPICS -->
    <div class="topics">
      <div class="header-text-style">Explore topics</div>

      <div class="topics-content">
        <a href="/support/categories/1" class="topic undecorated"
          >Financial Management</a
        >
        <a href="/support/categories/2" class="topic undecorated"
          >Pitch Management</a
        >
        <a href="/support/categories/3" class="topic undecorated"
          >General Management</a
        >
        <a href="/support/categories/4" class="topic undecorated"
          >Reward Management</a
        >
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
