<ion-content>
  <app-header></app-header>
  <div class="page-content content-wrapper">
    <!-- SUPPORT PORTAL HEADER -->
    <div class="support-portal-header-searchbox">
      <div class="search-input-container">
        <input
          type="text"
          placeholder="Type here to search articles"
          name="search"
          autofocus
          #SearchInput
        />
      </div>

      <div class="search-button" data-title="Search typed keywords" (click)="this.search(SearchInput.value)">
        <ion-icon name="search"></ion-icon>
      </div>

      <a class="search-button add-button" data-title="Post an article" href="/support/article/new?create=1">
        <ion-icon name="add"></ion-icon>
      </a>
    </div>

    <br>
    <div class="paragraph-text-style">For more information please don't hesitate to email us: <a href="mailto:support@hetchfund.com">support@hetchfund.com.</a></div>

    <!-- EXPLORE TOP TOPICS -->
    <br>
    <br>
    <div class="topics">
      <div class="header-text-style">Explore support categories</div>

      <div class="topics-content">
        <a href="/support/categories/1" class="topic undecorated"
          >Financial Management</a
        >
        <a href="/support/categories/2" class="topic undecorated"
          >Pitch Management</a
        >
        <a href="/support/categories/3" class="topic undecorated"
          >General Management</a
        >
        <a href="/support/categories/4" class="topic undecorated"
          >Reward Management</a
        >
      </div>
    </div>

    <!-- ARTICLES SECTION -->
    <br>
    <br>
    <div class="support-portal-articles">
      <div class="header-text-style">{{this.searchKeyword ? 'Showing results for "' + this.searchKeyword + '"' : "Browse support articles"}}</div>
      <div class="paragraph-text-style">{{this.searchKeyword ? 'Found "' + this.availabeleTotalResults + '" for this search.' : "Browse a handful of our self-help articles for guides to use our platform."}}</div>

      <div class="articles-content">
        <div class="article" *ngFor="let article of this.articles">
          <div class="thumbnail-container" [style.background-image]="'url(' + article?.thumbnail_image + ')'"></div>
          <div class="article-content">
            <div class="article-category">{{article?.category || "General"}}</div>
            <a
              class="header-text-style article-name smaller"
              [href]="'/support/article/' + article?.key"
            >
              {{article?.name}}
            </a>

            <br>
            <br>
            <div class="paragraph-text-style small">{{article?.upvotes}}/{{article?.downvotes + article?.upvotes}} upvotes. {{article?.age ? ['Updated', article?.age].join(' ') : ''}}.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
