@import "../../../variables.scss";

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $DARK_COLOR;
  border-color: $GRAY_COLOR;
}

.verification-title {
  margin: 20px 0;
}

.verification-title,
.verification-message {
  max-width: 50%;
  text-align: center;
}

img.verification-illustration {
  width: 20%;
}

.bottom-attributions {
  margin-top: 100px;
  font-weight: medium;
  text-align: center;
  opacity: 0.6;
}

// INPUT CONTAINER FOR THE VERIFICATION
.verification-code-input {
  display: grid;
  place-items: center;
  width: 50%;
  margin: 20px auto;
}

.verification-code-input input {
  text-align: center;
}

.buttons {
  width: 200px;
}

.buttons button {
  display: inline;
}