<ion-content>
  <div class="page-content content-wrapper">
    <img
      src="/assets/illustrations/Charco_-_Security.svg"
      alt="Sent email image"
      class="verification-illustration"
    />
    <span class="verification-title header-text-style"
      >Identity Verification Stop</span
    >
    <span class="verification-message paragraph-text-style"
      >Your verification email has been sent to verify your identity.

      <br />
      <br />

      <div class="verification-code-input">
        <div class="formfields">
          <div class="formfield">
            <label for="login-code">Login verification code</label>
            <div class="input-container">
              <input type="text" placeholder="eg. ######" #OTPCodeInput>
            </div>
          </div>
        </div>
        <div class="buttons">
          <button (click)="this.verifyCode(OTPCodeInput.value)">Submit code</button>
          <button class="bordered">Request a new code</button>
        </div>
      </div>
    </span>
  </div>
</ion-content>
