<ion-content>
  <div class="page-content content-wrapper">
    <img
      src="/assets/illustrations/Charco_-_Security.svg"
      alt="Sent email image"
      class="verification-illustration"
    />
    <span class="verification-title header-text-style"
      >Email verification code has been sent</span
    >
    <span class="verification-message paragraph-text-style"
      >Your verification email has been sent to verify your authenticity.

      <br />
      <br />
      <div class="bold-text-style">
        Remember: If this is your first login, you won't be able to use your
        account until your verify your email address.
      </div></span
    >

    <button>Request another verification code</button>

    <div class="bottom-attributions">
      Courtesy of Towards Common Foundry, Limited. All rights reserved.
    </div>
  </div>
</ion-content>
