.page-content {
  padding-top: 20px;
}

// Story editor
.editor-container {
  padding: 40px 0 0 0;
  max-width: 70%;
}

.contribution-preview .contribution-preview-title {
  display: block;
  margin-bottom: 20px;
}

input.funding-goal {
  font-weight: bold !important;
}
