@import "../../../variables.scss";

.page-content {
  padding-top: 20px;
}

// Story editor
.editor-container {
  padding: 40px 0 0 0;
  max-width: 70%;
}

.contribution-preview .contribution-preview-title {
  display: block;
  margin-bottom: 20px;
}

input.funding-goal {
  font-weight: bold !important;
}

.split-finance-inputs {
  display: flex;
  align-items: center;
  gap: $_20_SPACING_SIZE;
  margin-bottom: $_10_SPACING_SIZE;

  .formfield {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  & > *:first-child {
    flex: 0.8;
  }
  
  & > *:last-child {
    flex: 0.2;
  }
}