<ion-content>
  <app-header></app-header>
  <div class="page-content content-wrapper">
    <div class="article-wrapper">
      <div class="article-header">
        <a href="/support" class="back-button"
          ><ion-icon name="chevron-back"></ion-icon> Back to all articles</a
        >
        <div class="header-text-style article-name">
          How can I change the credit card on file for my account?
        </div>
        <div class="article-short-answer">
          Short Answer:<b> You can make changes in the settings page.</b>
        </div>
      </div>

      <div class="article-body">
        <app-rich-text-editor></app-rich-text-editor>
      </div>

      <div class="article-footer">
        <div class="header-text-style">Did this article help you?</div>
        <div class="article-footer-buttons">
          <button class="secondary"><ion-icon name="heart"></ion-icon></button>
          <button class="secondary">
            <ion-icon name="heart-dislike"></ion-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
