<ion-content>
  
  <div class="page-content centered-content with-pattern">
    
    <div class="formfields account-formfields">
      
      <div class="formfields-header">
        <div class="header-text-style">Sign in to Hetchfund</div>
        <span class="paragraph-text-style"
          >Enter your details below to continue to your account.</span
        >
      </div>

      <br>
      <div class="separator" title="Welcome Back"></div>

      <div class="formfield">
        <label class="section-title-style" for="">Email address</label>
        <div class="input-container">
          <input
            type="email"
            class="input-field"
            name="email"
            placeholder="eg. aegontechnologies@aegon.com"
            autocomplete="email"
            rows="1"
            (keyup)="this.errorMessage = ''"
            #EmailAddressField
          />
        </div>
      </div>

      <div class="formfield">
        <label class="section-title-style" for="">Password</label>
        <div class="input-container">
          <input
            type="password"
            class="input-field"
            name="password"
            placeholder="Please enter your password."
            autocomplete="new-password"
            (keyup)="this.errorMessage = ''"
            #PasswordField
          />
        </div>
      </div>

      <p class="paragraph-text-style clause-notice">
        <b>Remember: </b> Please consult our <a href="/legal/terms-and-conditions">Terms and conditions</a> before continuing.
      </p>

      <div class="formfield-buttons">
        <button
          (click)="this.signin()"
          [attr.data-title]="((EmailAddressField.value.length === 0 && PasswordField.value.length === 0)) ? 'Complete fields above' : 'Continue to sign in'"
          [disabled]="this.isLoading || ((EmailAddressField.value.length === 0 && PasswordField.value.length === 0))"
        >
          <app-loader [attr.state]="isLoading"></app-loader>
          Signin to my account
        </button>
        <a class="button secondary" href="/create-account"
          >Create a new account</a
        >
      </div>

      <br>
      <div class="separator" title="Use Social Login"></div>
      <br>

      <div class="social-buttons">
        <!-- GOOGLE SIGNON -->
        <asl-google-signin-button
          type="standard"
          size="large"
          text="continue_with"
          width="360"
          theme="filled_black"
          shape="pill"
        >
        </asl-google-signin-button>

        <!-- FACEBOOK SIGNON -->
        <div class="facebook-signin-button" (click)="this.socialLoginService.loginWithFacebook()">
          <span>Continue with Facebook</span>
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</ion-content>
