@import "../../../variables.scss";

.identity-documents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.identity-documents .identity-document {
  display: grid;
  place-items: center;
  border: 4px solid $SECONDARY_THEME_COLOR;
  height: 300px;
  text-align: center;
  position: relative;
  padding: 0 20px;
}

.identity-documents .identity-document .delete-button {
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  pointer-events: none;
  border: 1px solid $GRAY_COLOR;
  z-index: 10;
}

.identity-documents .identity-document .delete-button:hover svg {
  fill: $DANGER_COLOR !important;
}

.identity-documents .identity-document:hover .delete-button {
  opacity: 1;
  pointer-events: all;
}

.identity-documents .identity-document .delete-button svg {
  height: 25px;
}

.identity-documents .identity-document[data-is-uploaded="true"] {
  border-style: solid !important;
  border-color: $SECONDARY_THEME_COLOR !important;
  border-bottom-width: 8px !important;
}

.identity-documents .identity-document.identity-document-selector {
  border: 4px dashed $GRAY_COLOR;
}

.identity-documents .identity-document .card-icon svg {
  height: 40px;
  width: 40px;
}

.identity-documents .identity-document .card-name {
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
}

.identity-documents .identity-document .card-description {
  opacity: 0.6;
}

.identity-documents .identity-document .card-comment {
  display: block;
  margin-top: $_10_SPACING_SIZE;
  color: $DANGER_COLOR;
  font-weight: bolder;
  font-style: italic;
}

.identity-documents .identity-document .card-comment::before {
  content: "Unaccepted: ";
}

.identity-documents .identity-document .card-comment::after {
  content: " Please re-upload again."
}

.identity-documents .identity-document:hover {
  cursor: pointer;
  border-color: $SECONDARY_THEME_COLOR;
}

.identity-documents .identity-document .progress {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: $GRAY_COLOR;
  height: 4px;
  width: 100%;
}

.identity-documents .identity-document .progress .current-progress {
  height: 100%;
  background: $SECONDARY_THEME_COLOR;
}
