<ion-content>
  <app-header></app-header>

  <div class="page-content content-wrapper">
    <div class="back-buttons-container">
      <a class="back-buttons" href="/history/contributions" *ngIf="this.sessionService?.sessionToken">
        <ion-icon name="chevron-back-sharp"></ion-icon>
        <span>View all contributions</span>
      </a>
    </div>

    <div class="paper-document-wrapper" *ngIf="this.contribution">
      <div class="paper-document-immitation">
        <div class="document-header">
          <div class="document-logo-address">
            <div class="logo-container">
              <img
                src="/assets/hetchfund-paperlogo.svg"
                alt="Hetchfund Paper Logo"
              />
            </div>

            <div class="company-address">
              <b class="company-name">HETCHFUND.COM</b>
              <span>4006 PENCIL FISH CR</span>
              <span>KAALFONTEIN EXT. 10</span>
              <span>MIDRAND</span>
              <span>1685</span>
              <span>SOUTH AFRICA</span>
            </div>
          </div>

          <br>
          <div class="header-text-style small">Contribution Receipt</div>
          <div class="paragraph-text-style">Helping entreprenuers grow</div>

          <div class="header-text-style xs">Hope has been received</div>
          <div class="paragraph-text-style">
            A future has been funded
          </div>
        </div>

        <span class="separator"></span>

        <div class="document-body">
          <table>
            <tr>
              <td>Contribution Amount</td>
              <td>+ {{this.contribution.currency_symbol}} {{this.contribution.amount_in_currency.toFixed(2)}}</td>
            </tr>
            <tr>
              <td>Service Fees</td>
              <td>- {{this.contribution.currency_symbol}} {{this.contribution.fees_in_currency.total_fees.toFixed(2)}}</td>
            </tr>
            <tr class="key-attribute">
              <td>Pledged Amount</td>
              <td>+ {{this.contribution.currency_symbol}} {{this.contribution.amount_in_currency_minus_fees.toFixed(2)}}</td>
            </tr>

            <!-- E  XTRA DETAILS -->
            <tr>
              <td>Transaction Identifier</td>
              <td>{{this.contribution.key}}</td>
            </tr>

            <tr>
              <td>Payer Email</td>
              <td><a href="mailto:" *ngIf="this.sessionService?.data?.email_address === this.contribution.payer || this.sessionService?.data?.email_address === this.contribution.payer.id">{{this.contribution.payer}} {{this.contribution.payer?.name ? "("+ this.contribution.payer?.name +")" : ""}}</a></td>
              <td><a *ngIf="this.sessionService?.data?.email_address !== this.contribution.payer || this.sessionService?.data?.email_address !== this.contribution.payer.id">[PRIVATE]</a></td>
            </tr>

            <tr>
              <td>Status</td>
              <td style="text-transform: capitalize;">{{this.contribution.status}}</td>
            </tr>

            <tr>
              <td>Date</td>
              <td>{{this.contribution.time_created.formatted_date}}</td>
            </tr>

            <tr>
              <td>Time</td>
              <td>{{this.contribution.time_created.time}}</td>
            </tr>

            <tr>
              <td>Transaction Source</td>
              <td style="text-transform: capitalize;">{{this.contribution.payment_source}}</td>
            </tr>

            <tr>
              <td>Contract Purpose</td>
              <td class="long-text">
                {{this.contribution.pitch_name}}
              </td>
            </tr>

            <tr *ngIf="this.contribution.reward_name">
              <td>Reward Selected</td>
              <td>
                {{this.contribution.reward_name}}
              </td>
            </tr>

            <tr *ngIf="this.contribution.rewards_address">
              <td>Reward Address</td>
              <td class="long-text">
                {{this.contribution.rewards_address}}
              </td>
            </tr>
          </table>

          <span class="separator"></span>

          <div class="progress-contributed">
            <div class="header-text-style small">
              Progress contributed ({{this.contribution.progress_contributed}}%):
              <span class="progress-indicator"></span>
            </div>
            <div class="progress-contributed-bar-total">
              <div class="progress-contributed-bar-before" [style.width]="this.contribution.from_progress + '%'"></div>
              <div class="progress-contributed-bar-current" [style.width]="this.contribution.progress_contributed + '%'"></div>
            </div>
          </div>
        </div>

        <div class="document-footer">
          <div class="paragraph-text-style">
            Please keep this slip document in case you may need further
            contact/assistance.
            <a class="hide-printout" (click)="this.requestReceiptPrintOut()"
              >Print and download document.</a
            >
          </div>

          <div class="paragraph-text-style">
            <b>Remember:</b> Hetchfund does not guarantee any rewards, it's the
            responsibility of the contract curators to ensure they update
            backers at all times.
          </div>
        </div>
      </div>
    </div>

    <div class="paper-document-wrapper" *ngIf="!this.contribution">
      <div class="paper-document-immitation">
        <div class="header-text-style">{{ this.responseStatus === 0 ? "Something unexpected happened" : (this.responseStatus === 404 ? "Contribution not found" : (this.responseStatus === 403 ? "Not allowed to view" : "Something went wrong")) }}</div>
        <div class="paragraph-text-style">Error: {{this.resonseMessage}}</div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
