/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "./variables.scss";

.story-tab .cdx-input.image-tool__caption {
  border: none !important;
  box-shadow: none !important;
  padding: 10px 0 !important;
  text-align: center !important;
  color: $GRAY_COLOR;
  font-style: italic;
}

.story-tab .ce-block__content {
  margin: 0 0;
  max-width: 100% !important;
  transform: translateY(-10px);
}

.story-tab .codex-editor__redactor {
  padding-bottom: $_20_SPACING_SIZE !important;
}

.story-tab .ce-block--focused {
  margin: 0 0;
  padding: 0 0;
}

// Ionic Backdrop
ion-backdrop {
  opacity: 0.9 !important;
}

// Delimeter element
.delimeter-tool * {
  letter-spacing: 10px;
  font-size: 1.8rem !important;
  margin: 40px 0;
  text-align: center;
  font-weight: 900;
  font-family: $FONT_FAMILY_MONOSPACED !important;
  opacity: 0.4;
}

// EDITOR.JS POPOVER.
.ce-toolbar__plus {
  svg {
    transform: translateY(0);
  }
}

.ce-toolbar__plus:hover,
.ce-toolbar__plus:active {
  background: black;
  border: $BORDER;
  border-radius: $BORDER_RADIUS;
}

.ce-popover  {
  --border-radius: 0;
  --color-border: white;
  --color-background: black;
}

.ce-popover-item__icon,
.cdx-search-field__icon {
  svg {
    transform: translateY(0px);
  }
}

.cdx-search-field__icon {
  transform: translateX(5px)
}

.ce-popover-item__icon,
.cdx-search-field {
  border-radius: $BORDER_RADIUS;
  background: black;
}

.cdx-search-field {
  border: 0.1px solid gray;
  border-width: 0.2px;
}

.ce-popover-item:hover .ce-popover-item__title {
  color: black !important;
}

// YOCO INLINE PAYMENT METHOD CUSTOMIZATION
.yc-card-form-container {
  margin-top: 20px;
}

.yc-card-form-container label,
.formfield label {
  font-weight: bold !important;
  text-transform: uppercase;
  opacity: 0.8;
  color: $SECONDARY_THEME_COLOR !important;
}

.formfields label::after {
  content: ":" !important;
}

.yc-card-input-wrapper {
  border: $BORDER;
  border-radius: $BORDER_RADIUS;
  background-color: $WHITE_COLOR;
  margin-top: 5px;
  margin-bottom: 15px;
}

// CVV and Exp month split to two
.yc-expiry-cvv-holder {
  width: 100%;
  display: flex;
  gap: 10px;
}

// GENERAL RULE STYLING AND RESETS
body,
ion-content,
textarea {
  padding: 0;
  margin: 0;
  background: $DARK_COLOR;
  --background: transparent;
}

* {
  color: #FFFFFF !important;
  font-variation-settings:
    "slnt" 0,
    "CASL" 0,
    "CRSV" 1,
    "MONO" 0.49;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $THEME_COLOR;
}

// SELECTION COLOR
*::selection {
  background-color: $SECONDARY_THEME_COLOR;
}

// PAGE CONTENT
body .page-content {
  padding: $_20_SPACING_SIZE;
  width: 100vw !important;
  background: $BACKGROUND_COLOR;
}

// Page content without a header present
body .page-content.headerless {
  padding-top: $_20_SPACING_SIZE;
}

body .page-content .page-header {
  padding-bottom: $_20_SPACING_SIZE;
}

body .page-content .page-header .page-logo img {
  height: 40px;
  filter: grayscale(1);
}

// body .page-content.with-pattern::before {
body .page-content::before {
  content: "";
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  filter: grayscale(1);
  mix-blend-mode: difference;

  // background-image: url("/assets/abstract-liquid-shape-seamless-pattern-illustration-free-vector.jpg");
  background-repeat: repeat;
  background-size: contain;
  opacity: 0.1;
}

.page-content.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding-top: 80px;
}

.content-wrapper {
  padding: 0;
}

.content-wrapper.no-padding {
  padding: 0 0;
}

.content-wrapper.split {
  display: flex;
  gap: $_20_SPACING_SIZE;
}

.content-wrapper.split > * {
  flex: 1;
}

.content-wrapper.split.bordered > *:first-child {
  border-right: $BORDER;
  padding-right: $_20_SPACING_SIZE;
}

.bottom-button-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: $_10_SPACING_SIZE;
  background: $DARK_COLOR;
  border-radius: $BORDER_RADIUS $BORDER_RADIUS 0 0;
  border: $BORDER;
  z-index: 200;
  bottom: 0;
  left: 0;

  button.bordered,
  .button.bordered {
    background: $BACKGROUND_COLOR !important;
  }
}

.bottom-button-panel button {
  background: $SECONDARY_THEME_COLOR;
}

:root {
  // Utilized for responsive typography design
  --font-size-multiplier: 1;
  --content-padding: $_10_SPACING_SIZE;
  --swiper-scrollbar-bg-color: black;
  --swiper-scrollbar-drag-bg-color: #CA9627;
  // Block black/dark mode forcefully
  color-scheme: dark only;
}

* {
  box-sizing: border-box;
  font-family: $FONT_FAMILY;
  font-style: normal !important;
  line-height: 1;
  color: $DARK_COLOR;
}

// TOOLTIPS
*[data-title] {
  position: relative;
}

*[data-title].level-index {
  z-index: 1;
}

*[data-title]::before {
  content: attr(data-title);
  visibility: hidden;
  width: 150px;
  background-color: $DARK_COLOR;
  color: $WHITE_COLOR;
  text-align: center;
  padding: $_10_SPACING_SIZE 0;
  border-radius: $BORDER_RADIUS;
  border: $BORDER;
  font-size: smaller;
  font-weight: bolder;
  // letter-spacing: normal !important;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  bottom: 110%;
  left: 50%;
  margin-left: -75px;
  z-index: 1000;
  pointer-events: none;
}

*[data-title]:hover::before,
*[data-title]:hover::after {
  visibility: visible !important;
}

// FLEXBOX CONTENT
*.flexbox {
  display: flex;
  justify-content: space-between;
  gap: $_10_SPACING_SIZE;
}

*.flexbox.flexbox-center {
  align-items: center;
}

*.flexbox.flexbox-equal > * {
  flex: 1;
}

.flexbox-space {
  flex: 1;
}

// FIXING THE TYPOGRAPHY
*.theme-text-style {
  color: $SECONDARY_THEME_COLOR !important;
  opacity: 1 !important;
}

*.gray-text-style {
  opacity: 0.6;
}

*.center-text-style {
  text-align: center !important;
}

*.normal-align-text-style {
  text-align: left !important;
}

*.visually-hidden {
  opacity: 0;
  position: absolute;
}

*.monospace {
  font-family: $FONT_FAMILY_MONOSPACED !important;
}

.story-tab .ce-paragraph,
.paragraph-text-style {
  display: block;
  font-size: 16px;
  text-align: justify;
  font-family: $FONT_FAMILY !important;
  color: $LIGHT_COLOR;
}

.paragraph-text-style.small {
  font-size: 0.875rem; // 14PX
}

.story-tab .ce-paragraph {
  font-size: 18px;
}

.paragraph-text-style.italic {
  font-style: italic;
}

.story-tab .ce-paragraph,
.paragraph-text-style.light-color,
.story-tab .cdx-marker,
.story-tab .cdx-nested-list *,
.story-tab .ce-block__content * {
  color: $LIGHT_COLOR !important;
}

.ce-paragraph {
  font-family: $FONT_FAMILY !important;
  font-size: 18px;
}

.icon-text-style {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

// ERROR MESSAGES
.danger-text-style {
  color: $DANGER_COLOR;
}

// SUCCESS MESSAGES
.success-text-style {
  color: $SUCCESS_COLOR;
}

// BOLD TEXT
.bold-text-style {
  font-weight: bold;
}

// ----------- ION MODAL -----------
ion-backdrop {
  --ion-background-color: #ffffff85;
}

//------------ HEADER --------------
// HEADER UNDERLINING STYLES.
.header-text-style.underlined {
  display: block;
  position: relative;
  padding-bottom: 20px;
}

.header-text-style::after {
  content: "";
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 180px;
  transform: translateY(100%);
  height: 45px;
  background: transparent;
  background-repeat: no-repeat;
  pointer-events: none;
  transform: rotate(180deg);

  // background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1418 125' data-inject-url='https://www.svgbackgrounds.com/svg/doodles-underlines/needle-underline.svg' loading='lazy'%3e%3cpath d='M1412.29 72.17c-11.04-5.78-20.07-14.33-85.46-25.24-22.37-3.63-44.69-7.56-67.07-11.04-167.11-22.06-181.65-21.24-304.94-30.56C888.78 1.39 822.57 1.1 756.44 0c-46.63-.11-93.27 1.56-139.89 2.5C365.5 13.55 452.86 7.68 277.94 23.15 202.57 33.32 127.38 45.01 52.07 55.69c-11.23 2.41-22.63 4.17-33.71 7.22C6.1 66.33 5.64 66.19 3.89 67.79c-7.99 5.78-2.98 20.14 8.72 17.5 33.99-9.47 32.28-8.57 178.06-29.66 4.26 4.48 7.29 3.38 18.42 3.11 13.19-.32 26.38-.53 39.56-1.12 53.51-3.81 106.88-9.62 160.36-13.95 18.41-1.3 36.8-3.12 55.21-4.7 23.21-1.16 46.43-2.29 69.65-3.4 120.28-2.16 85.46-3.13 234.65-1.52 23.42.99 1.57-.18 125.72 6.9 96.61 8.88 200.92 27.94 295.42 46.12 40.87 7.91 116.67 23.2 156.31 36.78 3.81 1.05 8.28-.27 10.51-3.58 3.17-3.72 2.66-9.7-.78-13.13-3.25-3.12-8.14-3.44-12.18-5.08-17.89-5.85-44.19-12.09-63.67-16.56l26.16 3.28c23.02 3.13 46.28 3.92 69.34 6.75 10.8.96 25.43 1.81 34.34-4.39 2.26-1.54 4.86-2.75 6.21-5.27 2.76-4.59 1.13-11.06-3.59-13.68ZM925.4 23.77c37.64 1.4 153.99 10.85 196.64 14.94 45.95 5.51 91.89 11.03 137.76 17.19 24.25 4.77 74.13 11.21 101.72 18.14-11.87-1.15-23.77-1.97-35.65-3.06-133.46-15.9-266.8-33.02-400.47-47.21Z'%3e%3c/path%3e%3c/svg%3e");
}

.header-text-style.underlined::after {
  display: block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1412 136' data-inject-url='https://www.svgbackgrounds.com/svg/doodles-underlines/angry-underline.svg' loading='lazy'%3e%3cpath d='M2.9 51.31c1.54 1.59 3.55 2.42 5.67 2.93 9.55 2.69 12.36 4.04 30.44 7.8-3 .3-5.73.44-8.57 3.08a9.83 9.83 0 0 0-2.07 10.92c.83 2.7 3.33 4.22 5.31 6.05 10.97 9.24 37.74 12.54 57.74 16.6 28.32 5.7 56.66 11.52 85.37 14.86 23.26 11.61 80.27 14.32 103.75 15.4 34.52 2.19 69.08 3.36 103.65 3.76 121.04 6.36 242.43.51 363.58.82 271.97-15.76 111.74-7.14 354.24-27.85 46.28-2.18 92.54-4.84 138.71-8.85 12.39-1.12 31.77-2.4 34.68-3.76 3.32-1.16 5.52-4.34 6.02-7.77 123.48-7.79 121.13-7.18 123.45-8.4 4.59-1.61 7.1-7.14 5.79-11.8a10.12 10.12 0 0 0-9.64-7.34c-46.89.01-33.59-2.78-103.06 3.46l10.94-1.87c1.99-.76 4.08-1.67 5.19-3.58 4.19-4.72 2.14-13.98-5.64-15.77-3.38-2.63-6.42-2-14.13-2.11-4.56-.7-9.13-1.34-13.72-1.81 34.64-5.34 46.49-8.03 55.99-12.31 2.43-1.11 4.63-2.64 6.94-3.97 14.45-7.01 3.34-24.98-8.18-18.36-2.71 1.43-5.2 3.25-7.94 4.62-11.02 4.17-22.83 5.68-34.36 7.85-36.51 6.23-65.21 9.47-105.27 13.24-39.97 3.44-79.94 7.17-120.01 9.1-112.89 6.65-225.89 10.72-338.92 13.94-139.42 4.28-72.29 2.74-238.74 3.83-152.12.02-105.22.84-209.3-3.14-24.84-.9-33.26-1.91-65.79-4.63-17.2-1.82-43.29-7.05-66.97-9.27-4.21-.16-8.68-1.39-12.64.37a9.33 9.33 0 0 0-5.97 7.81l-.03.26c-68.56-8.07-86.97-8.7-119.44-11.18a7.6 7.6 0 0 0-3.85.86 9.31 9.31 0 0 0-5.97 7.81c-.59 3.07.64 6.15 2.75 8.4Z'%3e%3c/path%3e%3c/svg%3e");
}

.header-text-style.circled::after {
  display: block;
  content: "";
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='374.012' height='204.027' preserveAspectRatio='none'><path fill='none' stroke='%23FFFFFF' stroke-miterlimit='10' stroke-width='2.00104' d='M218.247 54.889A265.917 265.917 0 0 0 89.95 77.646c-18.784 8.502-38.678 22.587-39.25 42.565-1.365 47.583 85.43 55.237 120.067 58.392 55.253 5.035 111.993-3.104 163.146-24.518 10.695-4.478 22.233-10.697 25.417-21.519 4.395-14.945-9.44-28.656-22.648-37.374-73.235-48.344-171.476-59.49-254.898-28.926C64.37 72.647 47.04 81.143 35.341 95.169s-16.43 34.702-7.216 50.22c9.055 15.255 28.232 21.557 46.027 25.398 68.96 14.883 141.035 10.943 211.067.578 30.794-4.557 67.4-15.52 74.785-44.774 5.038-19.949-6.709-40.465-22.018-54.557-24.577-22.63-58.018-34.115-91.332-40.803a410.715 410.715 0 0 0-170.057 1.99C47.8 39.688 15.629 53.337 8.41 81.038c-6.74 25.868 12.285 51.603 34.602 67.08 44.507 30.866 102.661 36.737 157.613 34.602 47.064-1.832 95.403-9.284 135.666-33.154 13.818-8.19 27.376-19.618 30.155-35.013 4.034-22.358-16.691-42.176-38.643-50.042-59.209-21.215-130.148-27.436-192.916-26.293' data-name='Path 12130'/></svg>");
  background-repeat: no-repeat;
  transform: rotate(0deg) translateY(-200px);
  background-size: contain;
  background-position: 100% 100%;
  height: 300px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-70%);
}

.header-text-style.circled.light-colored::after {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='374.012' height='204.027' preserveAspectRatio='none'><path fill='none' stroke='%23FFFFFF' stroke-miterlimit='10' stroke-width='2.00104' d='M218.247 54.889A265.917 265.917 0 0 0 89.95 77.646c-18.784 8.502-38.678 22.587-39.25 42.565-1.365 47.583 85.43 55.237 120.067 58.392 55.253 5.035 111.993-3.104 163.146-24.518 10.695-4.478 22.233-10.697 25.417-21.519 4.395-14.945-9.44-28.656-22.648-37.374-73.235-48.344-171.476-59.49-254.898-28.926C64.37 72.647 47.04 81.143 35.341 95.169s-16.43 34.702-7.216 50.22c9.055 15.255 28.232 21.557 46.027 25.398 68.96 14.883 141.035 10.943 211.067.578 30.794-4.557 67.4-15.52 74.785-44.774 5.038-19.949-6.709-40.465-22.018-54.557-24.577-22.63-58.018-34.115-91.332-40.803a410.715 410.715 0 0 0-170.057 1.99C47.8 39.688 15.629 53.337 8.41 81.038c-6.74 25.868 12.285 51.603 34.602 67.08 44.507 30.866 102.661 36.737 157.613 34.602 47.064-1.832 95.403-9.284 135.666-33.154 13.818-8.19 27.376-19.618 30.155-35.013 4.034-22.358-16.691-42.176-38.643-50.042-59.209-21.215-130.148-27.436-192.916-26.293' data-name='Path 12130'/></svg>");
  background-repeat: no-repeat;
}

.header-text-style,
.header-text-style *,
.ce-header {
  display: inline-block;
  font-size: clamp(20px, 26px, 30px);
  font-family: $FONT_FAMILY_HEADER;
  margin-bottom: $_5_SPACING_SIZE;
  position: relative;
  font-weight: 900;
  color: $DARK_COLOR;
}


// PILL TEXTS
.pill-text-style {
  font-size: small;
  padding: 5px;
  border-radius: $BORDER_RADIUS;
  background-color: transparentize($SUCCESS_COLOR, .5);
  width: fit-content;

  &.warning-style {
    background-color: transparentize($SECONDARY_THEME_COLOR, .5);
  }

  &.danger-style {
    background-color: transparentize($DANGER_COLOR, .5);
  }
}


.story-tab .ce-header {
  color: $LIGHT_COLOR;
  margin: $_20_SPACING_SIZE 0 $_10_SPACING_SIZE 0;
}

.cdx-block {
  display: block;
  margin: $_10_SPACING_SIZE 0;
}

.ce-paragraph {
  
}

.header-text-style.small {
  font-size: clamp(18px, 20px, 24px);
}

.header-text-style.smaller {
  font-size: 1rem;
  font-size: clamp(16px, 18px, 20px);
}

.header-text-style.colored {
  color: $THEME_COLOR;
}

.header-text-style.light,
.header-text-style *.light {
  // font-weight: 500;
}

// THEME COLORED TEXT
.theme-text-style {
  color: $SECONDARY_THEME_COLOR;
}

// PLACEHOLDER ITEMS WHEN LOADING
.placeholder-space {
  width: 30px;
  height: 20px;
}

.placeholder-text {
  display: block;
  height: 10px;
  width: 300px;
  background: rgb(207, 207, 207);
  margin-bottom: 5px;
  margin-left: $_20_SPACING_SIZE;
  animation: PlaceholderBlink 1000ms ease alternate-reverse infinite;
}

@keyframes PlaceholderBlink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}

.placeholder-text.section-title {
  height: 30px;
  border-bottom: $BORDER;
  width: 400px;
}

// SECTION TITLES
.section-title-style {
  font-size: small;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: $THEME_COLOR;
}

// ANCHORS
a {
  display: inline-flex;
  align-items: center;
}

a,
a > span {
  color: $THEME_COLOR;
  font-weight: 700;
  text-underline-offset: 2px;
  text-decoration-style: underline;
}

a:hover,
a:hover > * {
  cursor: pointer;
  color: $SECONDARY_THEME_COLOR !important;
}

a:hover {
  text-decoration-style: solid;
}

a.no-decoration,
a.no-decoration > * {
  text-decoration: none !important;
}

// LOADERS
button app-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparentize($DARK_COLOR, 0.5);
}

button app-loader[state="false"] {
  opacity: 0;
  user-select: none;
}

.text-loader::after {
  content: "";
  animation-name: dot-pulse;
  animation-duration: 1000ms;
  animation-direction: normal;
  animation-iteration-count: infinite;
  letter-spacing: 2px;
}

@keyframes dot-pulse {
  25% {
    content: " .";
  }
  50% {
    content: " ..";
  }
  95% {
    content: " ...";
  }
}

// Creates padding around an element
.padding-wrapper {
  padding: $_20_SPACING_SIZE;
}

// BUTTONS
button,
.button,
input[type="file"]::file-selector-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: $_10_SPACING_SIZE;
  outline: none;
  font-weight: 900;
  color: $WHITE_COLOR;
  margin: 10px 0;
  transition: transform 300ms ease-in-out;
  text-align: center;
  margin-right: 10px;
  position: relative;
  border: $BORDER;
  // border-color: $SECONDARY_THEME_COLOR;
  border-radius: $BORDER_RADIUS;
  background: $SECONDARY_THEME_COLOR;
  cursor: pointer;
  font-size: medium !important;
  appearance: none !important;
  box-shadow: none !important;
  padding: 10px $_20_SPACING_SIZE;

  * {
    color: $LIGHT_COLOR !important;
  }
}

button:active,
.button:active,
input[type="file"]::file-selector-button {
  transform: scale(0.95) !important;
}

button > span,
.button > span,
button > strong,
.button > strong,
button,
.button {
  font-weight: bold;
  color: $DARK_COLOR;
}

button:disabled,
input[type="file"]:disabled::file-selector-button {
  opacity: 0.6;
}

button.dark-color,
.button.dark-color {
  background: $DARK_COLOR;
}

button.secondary,
.button.secondary {
  border: $BORDER;
  color: $WHITE_COLOR;
  background: $DARK_COLOR;
}

button.bordered,
.button.bordered {
  border: $BORDER;
  background: $DARK_COLOR;
  color: $DARK_COLOR;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

  &:hover {
    background: $DARK_COLOR;
  }
}

button.icon-button,
.button.icon-button {
  background: transparent;
}

button.icon-button ion-icon,
.button.icon-button ion-icon {
  font-size: 25px;
}

button:hover:not(:disabled),
.button:hover {
  // transform: scale(1.05);
  color: $WHITE_COLOR;
}

button.danger,
.button.danger {
  background: $DANGER_COLOR;
}

button.secondary.danger,
.button.secondary.danger {
  background: $WHITE_COLOR !important;
  color: $DANGER_COLOR;
}

// ---------- ION_ICONS -------------
ion-icon {
  font-size: 24px;
}

// INPUTS
input,
textarea {
  display: block;
  outline: none;
  width: 100%;
  padding: 10px 0;
  text-indent: 15px;
  border-radius: $BORDER_RADIUS;
  background: $BACKGROUND_COLOR !important;
  color: $WHITE_COLOR !important;
  border: $BORDER;
  cursor: pointer;
  text-decoration: none !important;
  margin: 0 10px 0 0;
  font-family: $FONT_FAMILY !important;

  &:focus {
    border-color: $SECONDARY_THEME_COLOR !important;
  }
}

.field-section-input .input-container input,
.field-section-input .input-container textarea,
.field-section-input .input-container select {
  background: $DARK_COLOR !important;
}

input,
textarea,
input[type="file"]::file-selector-button {
  font-family: $FONT_FAMILY;
}

input:disabled,
textarea:disabled {
  opacity: 0.2;
}

// STYLING FOR THE CHECKBOXES
.control-checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}

.control-checkbox label {
  text-transform: none !important;
}

.control-checkbox input[type="checkbox"] {
  position: absolute;

  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: $LIGHT_COLOR;
  border: 0px solid $THEME_COLOR;
  transform: translateY(7.5px);
  border-radius: 0px;
}
.control-checkbox:hover input[type="checkbox"] ~ .control_indicator,
.control-checkbox input:focus ~ .control_indicator {
  background: $GRAY_COLOR;
}

.control-checkbox input[type="checkbox"]:checked ~ .control_indicator {
  background: $THEME_COLOR;
}
.control-checkbox:hover
  input[type="checkbox"]:not([disabled]):checked
  ~ .control_indicator,
.control-checkbox input[type="checkbox"]:checked:focus ~ .control_indicator {
  background: $THEME_COLOR;
}
.control-checkbox input[type="checkbox"]:disabled ~ .control_indicator {
  background: $GRAY_COLOR;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: "";
  position: absolute;
  display: none;
}
.control-checkbox input[type="checkbox"]:checked ~ .control_indicator:after {
  display: block;
}
.control-checkbox .control_indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid $WHITE_COLOR;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control-checkbox input[type="checkbox"]:disabled ~ .control_indicator:after {
  border-color: $DARK_GRAY_COLOR;
}
.control-checkbox .control_indicator::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: $SECONDARY_THEME_COLOR;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}

// INPUT CONTAINER
.input-container {
  position: relative;
  border-radius: $BORDER_RADIUS;
  margin: calc($_10_SPACING_SIZE) 0;
  transform: translateX(-4px);
  cursor: text !important;
  position: relative;
  font-family: $FONT_FAMILY important;
}

.input-container.has-suggestions {
  margin-bottom: 0;
}

.input-container[data-unit]::before {
  content: attr(data-unit);
  display: block;
  padding: 0 $_10_SPACING_SIZE;
  border-right: $BORDER;
  position: absolute;
  top: 50%;
  left: $_10_SPACING_SIZE;
  transform: translateY(-50%);
  color: $DARK_COLOR !important;
}

.input-container[data-unit] input {
  text-indent: 75px;
}

.input-container:focus-within {
  border-color: transparentize($SECONDARY_THEME_COLOR, 0.6);
}

.input-container:focus-within input,
.input-container:focus-within textarea,
.input-container:focus-within .e-richtexteditor {
  border-color: $SECONDARY_THEME_COLOR;
}

input[type="checkbox"] {
  display: inline-block;
  width: 0;
}

.checkbox {
  display: flex;
  margin-bottom: $_10_SPACING_SIZE;
}

textarea {
  text-indent: 0;
  padding: 10px 15px;
  resize: none;
}

// INPUT LISTS, INPUT SUGGESTIONS
.formfield-suggestions {
  transform: translateY(-6px);
  border-top: none;
}

.formfield-suggestions,
.formfield-lists {
  display: block;
  background: $BACKGROUND_COLOR;
  border: $BORDER;
  border-bottom-left-radius: $BORDER_RADIUS;
  border-bottom-right-radius: $BORDER_RADIUS;
  margin-bottom: $_5_SPACING_SIZE;
  width: calc(100% - 8px) !important;
}

.formfield-lists {
  margin-top: $_20_SPACING_SIZE;
}

.formfield-suggestions label,
.formfield-lists label {
  display: block;
  margin: $_10_SPACING_SIZE $_20_SPACING_SIZE;
  border-bottom: $BORDER;
}

.formfield-suggestions .formfield-suggestion,
.formfield-lists .formfield-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $_10_SPACING_SIZE $_20_SPACING_SIZE;
  border-bottom: $BORDER;
  cursor: pointer;
}

.formfield-suggestions .formfield-suggestion:hover,
.formfield-lists .formfield-list:hover {
  background-color: transparentize($GRAY_COLOR, 0.5);
}

.formfield-lists .formfield-list .list-details {
  flex: 1;
}

.formfield-suggestions .formfield-suggestion .suggestion-primary-name,
.formfield-lists .formfield-list .list-details .list-primary-name {
  font-weight: bold;
}

.formfield-lists .formfield-list .list-status {
  font-size: small;
  font-weight: bold;
}

.formfield-lists .formfield-list:hover .list-status::after {
  content: " (Click to remove member)";
}

.formfield-lists .formfield-list .list-status[data-status="true"] {
  color: $SUCCESS_COLOR;
}

.formfield-lists .formfield-list .list-status[data-status="false"] {
  color: $DANGER_COLOR;
}

// SELECT INPUTS
.select {
  display: flex;
  align-items: center;
  position: relative;
  padding: $_10_SPACING_SIZE 0;
}

select {
  appearance: none;
  outline: none;
  position: relative;
  background: $DARK_COLOR;
  border: $BORDER;
  border-radius: $BORDER_RADIUS;
  padding: 12px $_20_SPACING_SIZE;
  font-weight: 500;
  width: 100%;
}

select:disabled {
  opacity: 0.7;
}

.select-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 $_10_SPACING_SIZE;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  background: transparent;
}

select::-ms-expand {
  display: none;
}

// EGGS LAYOUT
.page-eggs-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;

  gap: 20px;
  row-gap: 50px;
  padding: 0 $_20_SPACING_SIZE $_20_SPACING_SIZE $_20_SPACING_SIZE;

  &.content-wrapper {
    padding-top: 0 !important;
  }
}

.swiper-wrapper {
  display: flex !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.page-eggs-layout .egg-container .campaign-progress {
  height: 8px;
  width: 100%;
  background: $LIGHT_COLOR;
  position: absolute;
  bottom: 0;
  left: 0;
}

.page-eggs-layout app-egg {
  display: block;
  height: 100%;

  &[progess-color-style="light"] .funding-progress .funding-progress-current {
    background: $LIGHT_COLOR !important;
  }
}

.placeholder-pitch {
  border: $BORDER;
  border-radius: $BORDER_RADIUS;
}

.placeholder-pitch > * {
  animation: PlaceholderBlink 1000ms ease alternate-reverse infinite;
}

.placeholder-pitch .pitch-thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  width: 100%;
  background: $GRAY_COLOR;
  margin-bottom: $_10_SPACING_SIZE;
}

.placeholder-pitch .pitch-thumbnail img {
  height: 40px;
  filter: grayscale(1);
  opacity: 0.7;
}

.placeholder-pitch .pitch-name,
.placeholder-pitch .pitch-story,
.placeholder-pitch .pitch-funding-stats {
  display: block;
  height: 15px;
  width: 50%;
  background: $GRAY_COLOR;
  margin-bottom: $_10_SPACING_SIZE;
  margin-left: $_10_SPACING_SIZE;
}

.placeholder-pitch .pitch-name {
  margin-bottom: 20px;
  height: 25px;
  color: darkgrey;
  border-bottom: $BORDER;
}

.placeholder-pitch .pitch-story {
  width: 90%;
}

.placeholder-pitch .pitch-funding-stats {
  margin-top: 20px;
}

// SVG ICONS
svg {
  height: 18px;
  transform: translateY(3px);
  fill: #000;
}

// FORM FIELDS: SIGN IN FIELDS, CREATE ACCOUNT
.formfields_ {
  width: 400px;
  height: fit-content;
  padding: $_20_SPACING_SIZE;
  border: $BORDER;
  background: $BACKGROUND_COLOR;
  margin: calc($_20_SPACING_SIZE * 2) 0;
}

// FORMFIELD HEADER
.formfields_ .formfields_-header {
  display: block;
  margin-bottom: $_20_SPACING_SIZE;
}

.formfields_ .formfields_-header span,
.formfields_ .clause-notice {
  font-weight: 400;
  color: transparentize($DARK_COLOR, 0.3);
}

.formfields_ .formfields_-fields .field:focus {
  border-color: $DARK_COLOR;
}

.formfield .max-character-count {
  font-size: small;
  opacity: 0.7;
  font-weight: bold;
  transform: translateX(-8px);
}

.formfield .media-selector .inner-media-selector {
  display: flex;
  align-items: center;
}

.formfield .media-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $_20_SPACING_SIZE;
  height: fit-content;
  width: 100%;
  border: $BORDER;
  border-radius: $BORDER_RADIUS;
  margin-top: $_20_SPACING_SIZE;
  background: $DARK_COLOR;
  text-align: center;
  position: relative;
  background-size: cover;
  background-position: center center;
  cursor: pointer;

  ion-icon {
    font-size: 64px !important;
  }

  .paragraph-text-style {
    text-align: center !important;
  }
}

.formfield .media-selector .media-selector-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formfield .media-selector .media-selector-preview {
  flex-basis: 400px;
  height: 400px;
}

.formfield .media-selector .media-selector-preview .preview-loader {
  display: flex;
  flex-direction: column;
  gap: $_10_SPACING_SIZE;
  align-items: center;
}

.image-preview {
  border-radius: $BORDER_RADIUS !important;
}

.formfield .media-selector[isProcessed="true"] ion-icon,
.formfield .media-selector[isProcessed="true"] span {
  display: none !important;
}

.formfield .media-selector .upload-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8px;
  width: 0;
  background: $SECONDARY_THEME_COLOR;
  border-radius: 0 0 $BORDER_RADIUS $BORDER_RADIUS;
}

.formfield .media-selector:hover {
  border-color: $SECONDARY_THEME_COLOR;
  cursor: pointer;
}

.formfield .media-selector ion-icon {
  font-size: 1.3rem;
  margin-bottom: $_20_SPACING_SIZE;
}

// SECTIONED FORMFIELDS
.field-section {
  display: flex;
  gap: 80px;
  width: 100%;
  padding: $_20_SPACING_SIZE 0;
  border-top: $BORDER;
  border-top-style: dashed;
  margin-top: 20px;
}

.field-status {
  font-size: small !important;
  text-transform: uppercase;
  color: $DANGER_COLOR !important;
  font-weight: bold;

  &.optional {
    color: $WARNING_COLOR !important;
  }
}

.paragraph-text-style > ion-icon[name="information-circle"] {
  transform: translateY(5px);
}

.field-section > *:first-child {
  flex: 0.3;
}

.field-section > *:last-child {
  flex: 0.7;
}

.field-section .field-name {
  font-size: large;
  font-weight: bold;
  margin-bottom: 10px;
}

// CHECKBOX COMBOS
.formfields {
  background: transparent;
  border: none !important;
  width: 100%;
}

.formfields .formfield {
  margin-top: $_10_SPACING_SIZE;
  width: 100%;
}

.formfields .split-formfields {
  display: flex;
  width: 100%;
  gap: $_10_SPACING_SIZE;
}

.middle-ref-text {
  margin-bottom: 10px;
  font-style: italic;
}

.middle-formfield-logo img {
  height: 80px;
}

// SIGN IN AND SIGN UP FORMFIELDS
.account-formfields {
  width: 400px;
  height: fit-content;
  padding: $_20_SPACING_SIZE;
  border-radius: $BORDER_RADIUS;
  margin: $_20_SPACING_SIZE 0;
  background: $DARK_COLOR;
  border: $BORDER !important;
}

.account-formfields button,
.account-formfields .button {
  width: 100%;
}

.formfields_ .clause-notice {
  display: block;
  padding-bottom: $_20_SPACING_SIZE;
  border-bottom: $BORDER;
}

.formfields_ .error-notice {
  color: $DANGER_COLOR;
  font-weight: bold;
  font-size: small;
}

.formfields .formfields-header {
  margin-bottom: 20px;
}

// FACEBOOK LOGIN BUTTON
// RESET OF PARAGRAPH TEXT STYLE
.paragraph-text-style {
  max-width: 100%;
}

// FACEBOOK SIGNIN BUTTON
.facebook-signin-button {
  padding: 10px;
  align-items: center;
  flex-direction: column;
  background-color: $BACKGROUND_COLOR;
  width: 100%;
  border: $BORDER;
  border-radius: 100px;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
  transition: opacity 300ms ease;
}

.facebook-signin-button:hover {
  opacity: 0.8;
}

.facebook-signin-button span {
  font-weight: bold;
}

.facebook-signin-button img {
  position: absolute;
  right: 2px;
  height: calc(100% - 4px);
  top: 2px;
}

// FORMFIELD SOCIAL BUTTONS
.formfields .social-buttons {
  position: relative;
}

.formfields .social-buttons button.apple {
  background: black;
}

// FOR SPLITING SECTIONS INTO GROUPS
.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: $BORDER;
  border-color: $SECONDARY_THEME_COLOR;
  border-width: 8px;
  margin: $_20_SPACING_SIZE 0;
  position: relative;
}

.separator::before {
  content: attr(title);
  display: block;
  width: fit-content;
  background: $DARK_COLOR;
  padding: 0 $_10_SPACING_SIZE;
  font-size: small;
  text-transform: uppercase;
  font-weight: bold;
  transform: translateY(-50%);
}

// CURRENCY RELATED
.currency-selectable {
  display: inline-block;
  padding-bottom: 2px;
  text-decoration: underline;
  font-weight: bold;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  cursor: pointer;
}

.currency-selectable:hover {
  color: $THEME_COLOR;
  opacity: 1;
}

// ILLUSTRATIVE ERRORS, IMAGE WITH ERROR NAME.
.illustrative-error {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.illustrative-error.fullsize {
  width: 100vw;
  transform: translateX(-40px);
}

.illustrative-error img {
  width: 300px;
}

.illustrative-error .header-text-style {
  margin-top: $_20_SPACING_SIZE;
  font-weight: normal;
}

// RESPONSIVENESS
@media screen and (max-width: 853px) {
  // ERROR PAGES
  .error-page-container {
    flex-direction: column;
  }

  .error-page-container div.section:first-child {
    border-right: none;
  }

  .error-page-container div.section:last-child {
    margin-top: 20px;
  }

  .error-page-container .error-page-code {
    margin-top: $_20_SPACING_SIZE;
    font-size: 70px;
    font-weight: 500;
  }

  .error-page-container .error-page-buttons {
    margin: 20px 0 5px 0;
  }

  // BUTTONS
  button,
  .button {
    padding: 10px 13px;
  }

  .page-content {
    padding: 10px;
  }
}

// DROPDOWN MENUS
.dropdown {
  position: relative;
}

.dropdown .dropdown-content {
  display: none;
}

.dropdown.open .dropdown-content,
.box {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  transform: translateY(calc(100% + 10px)) translateX(calc(0));
  background: $WHITE_COLOR;
  padding: $_10_SPACING_SIZE;
  max-height: calc(100vh - 80px);
  overflow-y: scroll;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: $BORDER_RADIUS;
}

.dropdown .dropdown-content a {
  color: $DARK_COLOR !important;
}

.dropdown .dropdown-content a:hover {
  color: $THEME_COLOR !important;
}

// TO BRIDGE THE HOVERING STATE BETWEEN LINK AND DROPDOWN CONTENT
.dropdown.open::after {
  content: "";
  display: block;
  height: 40px;
  width: 100%;
  background: transparent;
  position: absolute;
  bottom: 0;
  transform: translateY(60%);
  left: 0;
  z-index: 100;
}

.dropdown .dropdown-content > a {
  padding: $_10_SPACING_SIZE;
  border-bottom: $BORDER;
}

.dropdown .dropdown-content > a:last-child {
  border-bottom: none;
}

.dropdown .dropdown-content > a:hover {
  background: transparentize($GRAY_COLOR, 0.7);
}

.dropdown .dropdown-content a[data-isselected="true"] {
  background: $THEME_COLOR;
  color: $WHITE_COLOR !important;
  border-bottom: none;
}

// MODALS
.default-modal {
  --backdrop-opacity: 0.98;
  --border-radius: 20px;
  --background: transparent;
  --box-shadow: none;
  --border: 10px solid white;
}

.settings-modal {
  --width: 80%;
  --border-radius: 10px;
}

.modal-close-button {
  padding: 18px 20px;
  background: $DARK_GRAY_COLOR;
  color: $WHITE_COLOR;
  border-radius: 100px;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  position: fixed;
  top: $_10_SPACING_SIZE;
  right: $_20_SPACING_SIZE;

  ion-icon {
    font-size: 30px;
  }

  // HOVER
  &:hover {
    opacity: 1;
  }
}

.consent-modal {
  --height: 250px;
  --border-radius: 8px;
}

.modal-content-wrapper {
  padding: $_20_SPACING_SIZE;
}

.modal-buttons-wrapper {
  padding: $_10_SPACING_SIZE $_20_SPACING_SIZE;
}

.modal-container {
  padding: $_20_SPACING_SIZE;
  overflow-y: none;
  position: relative;
  height: 100%;
}

.modal-container .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: $_10_SPACING_SIZE;
  margin-bottom: $_10_SPACING_SIZE;
  // border-bottom: $BORDER;
}

.consent-modal .modal-header {
  margin: 0 !important;
}

.modal-container .modal-footer {
  width: calc(100% - 40px);
  background: $WHITE_COLOR;
  padding: $_10_SPACING_SIZE 0;
  margin-top: $_10_SPACING_SIZE;
  border-top: $BORDER;
  position: absolute;
  bottom: 0;
}

.modal-content {
  overflow-y: scroll;
  max-height: 70%;
  padding: 0 5px;
}

.currency-modal {
  --background: red !important;
}

// COMMITMENT WRAPPER
.contribution-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-name {
  color: $THEME_COLOR;
}

// COMMITMENT OPTIONS
.contribution-options-header {
  margin-bottom: $_20_SPACING_SIZE;
}

.contribution-options .contribution-option,
.contribution-options .contribution-option .option-level {
  display: flex;
  gap: 20px;
  align-items: center;
}

.contribution-options .contribution-option {
  padding: $_20_SPACING_SIZE;
  background: $DARK_COLOR;
  margin-bottom: $_10_SPACING_SIZE;
  border-radius: $BORDER_RADIUS;
  border: $BORDER !important;
  border-color: transparent;

  .input-container,
  .input-container input {
    background-color: $DARK_COLOR !important;
  }
}

.contribution-options .contribution-option * {
  transition: none;
}

.contribution-options .contribution-option:hover {
  cursor: pointer;
}

.contribution-options .contribution-option[data-selected="true"] {
  border-color: $SECONDARY_THEME_COLOR !important;
  color: $SECONDARY_THEME_COLOR !important;
  
  &:not(.custom) {
    border-color: $SECONDARY_THEME_COLOR;
  }

  
}

.contribution-options .contribution-option .option-rewards {
  margin-top: $_5_SPACING_SIZE;
  font-size: 16px;
}

.contribution-options
  .contribution-option[data-selected="true"]
  .option-rewards {
  color: $WHITE_COLOR;
  opacity: 0.6;
}

.contribution-option .option-image {
  height: 100px;
  width: 100px;
  background: rgba(0, 0, 0, 0.4);
  background-image: url(https://ksr-ugc.imgix.net/assets/041/160/269/4c55eb96f962bb3a63229d4d3b240538_original.jpg?ixlib=rb-4.0.2&q=80&blur=false&w=600&fit=true&v=1685663442&gif-q=50&s=1a063083f947d8babf2fde43eb01bde8);
  background-size: cover !important;
  background-position: center center;
  margin-left: $_10_SPACING_SIZE;
}
.contribution-options .contribution-option[data-selected="true"] input {
  border: none !important;
}

.contribution-options
  .contribution-option[data-selected="true"]
  .section-title-style {
  color: $WHITE_COLOR;
}

.contribution-options .contribution-option .option-level {
  flex-direction: column;
  border-right: $BORDER;
  padding-right: $_10_SPACING_SIZE;
}

.contribution-options .contribution-option.custom {
  border-top: $BORDER;

  .currency-name::before {
    display: none;
  }

  .currency-name::after {
    content: attr(data-desktop-currency);
    display: inline-block;
    color: $SECONDARY_THEME_COLOR;
  }
}

.contribution-options .contribution-option.custom .option-level {
  border-right: none;
}

.contribution-options .contribution-option .input-container {
  margin-left: 5px;
}

.contribution-options .contribution-option .option-level .level {
  font-weight: 900;
}

.contribution-options .contribution-option .option-content {
  flex: 1;
}

.reward-options .contribution-option .reward-attribute-pills,
.contribution-options .contribution-option .reward-attribute-pills {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}

.contribution-option .reward-attribute-pill {
  padding: 5px 10px;
  font-size: small;
  font-weight: bold;
  color: $SECONDARY_THEME_COLOR;
  background-color: transparentize($SECONDARY_THEME_COLOR, 0.8);
  border: 1px solid transparentize($SECONDARY_THEME_COLOR, 0.4);
}

.contribution-option[data-selected="true"] .reward-attribute-pill {
  // border-color: $WHITE_COLOR;
  color: $WHITE_COLOR;
}

// COMMITMENT AMOUNT
.contribution-options .contribution-option .contribution-amount {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.invalid-custom-contribution {
  margin-bottom: $_10_SPACING_SIZE;
}

// DISCLAIMERS
.disclaimers {
  display: flex;
  flex-direction: column;
  margin-top: $_20_SPACING_SIZE;
  padding: $_20_SPACING_SIZE;
  gap: $_5_SPACING_SIZE;
  align-items: center;
  text-align: center;
  width: 100%;
}

.disclaimers p.paragraph-text-style {
  font-weight: bold;
  font-style: italic;
}

.disclaimers .policies-anchors {
  display: flex;
  gap: $_10_SPACING_SIZE;
}

// LOADER SPINNER
.spinner {
  display: grid;
  place-items: center;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  background: $SECONDARY_THEME_COLOR;
  position: relative;
}

.spinner.small {
  height: 8px;
  width: 8px;
}

.spinner::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100px;
  height: 60%;
  width: 60%;
  border: 4px solid transparent;
  border-bottom: 3px solid $BACKGROUND_COLOR;
  transform: translateX(0.5px);
  animation: spinner 400ms linear infinite;
}

.spinner[enabled="false"] {
  opacity: 0;
}

// Illustration messages.
.illustration-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $_20_SPACING_SIZE;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.illustration-message img {
  height: 250px;
}

.illustration-message .header-text-style {
  font-style: italic;
}

// SECTIONS FOR DISPLAYING CONTRACTS
section.pitches-tiles {
  padding: 0px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  .pitch {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: $_20_SPACING_SIZE;

    .pitch-details {
      display: flex;
      flex-direction: column;
      gap: $_20_SPACING_SIZE;
      width: 100%;
    }

    .pitch-funding-purpose {
      font-size: 18px;
      font-weight: 900 !important;
      text-decoration: underline;
      color: $LIGHT_COLOR;
      font-family: $FONT_FAMILY_HEADER !important;
      
      &:hover {
        text-decoration-thickness: 2px;
      }
    }

    .funding-progress {
      display: flex;
      align-items: center;
      gap: 20px;
      width: 100%;

      .percentage-funded {
        font-weight: 600;
        font-size: 18px;
        font-weight: bold;
        text-decoration: underline;
      }

      .progress-total {
        display: block;
        height: 15px;
        width: 100%;
        background: $LIGHT_COLOR;
        border: $BORDER_THIN;
      }

      .progress-current {
        height: 100%;
        background-color: $SUCCESS_COLOR;
      }
    }

    .pitch-signees {
      font-size: 14px;
      color: $LIGHT_COLOR;
    }

    .pitch-status {
      font-size: small;
      font-weight: bold;
      text-transform: uppercase;
      color: $SECONDARY_THEME_COLOR;
    }

    .pitch-description {
      font-weight: bold;
      text-align: justify;
      font-size: 16px;
    }
  }

  .pitch .thumbnail-container {
    width: 100%;
  }

  .pitch .thumbnail-container .thumbnail {
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: $BORDER;
    border-radius: $BORDER_RADIUS;
  }

  &.one-display-size {
    grid-template-columns: 1fr;

    .pitch {
      flex-direction: row;
      gap: 40px;

      .pitch-details {
        grid-template-rows: 190px 15px 50px;
      }

      .pitch-funding-purpose {
        font-size: 48px;
        text-decoration: underline;
        text-overflow: ellipsis;
      }
    }

    .pitch .thumbnail-container .thumbnail {
      width: 640px;
      height: 360px;
    }
  }

  .buttons {
    width: calc(100% + 10px);
    display: flex;
    
    & > .button {
      flex: 1;
    }
  }
}

section.pitches-tiles.dark-style {
  background: $BACKGROUND_COLOR;

  * {
    color: $LIGHT_COLOR;
  }
}

// PADDING AROUND CONTENT
*.default-padding-style {
  padding: $_20_SPACING_SIZE;
}

// DARK BACKGROUND OF CONTENT
*.dark-background-style {
  background-color: $BACKGROUND_COLOR;
  color: $LIGHT_COLOR;
}

// ---------- RESPONSIVENESS DESIGN. ------------

@keyframes spinner {
  from {
    transform: translateX(0.5px) rotate(0deg);
  }
  to {
    transform: translateX(0.5px) rotate(360deg);
  }
}

// ------------ LARGER SCREEN SIZES --------------
@media screen and (min-width: 1570px) {
  .page-content.content-wrapper,
  .page-content .content-wrapper,
  .footer-container .content-wrapper,
  .header-container.content-wrapper {
    padding: $_20_SPACING_SIZE 15% !important;
  }
}

@media screen and (max-width: 1570px) {
  .header-wrapper {
    margin: $_20_SPACING_SIZE 0;
  }
}

// SMALLER
@media screen and (max-width: 1260px) {
  .page-eggs-layout {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1020px) {
  .page-eggs-layout {
    grid-template-columns: 1fr 1fr;
  }
}

// MOBILE DEVICES
@media screen and (max-width: 650px) {
  $BORDER: 1px solid $DARK_COLOR !important;
  
  .content-wrapper.split {
    flex-direction: column;

    &.bordered > *:first-child {
      border: none !important;
    }
  }
  
  .page-eggs-layout {
    grid-template-columns: 1fr;
  }

  .page-eggs-layout app-egg .egg-campaign-container {
    padding-bottom: $_20_SPACING_SIZE;
    border-top: none !important;
    border-bottom: $BORDER !important;
  }

  .page-eggs-layout app-egg .funding-perfomance .amount-funded-percentage {
    padding: $_10_SPACING_SIZE 0 !important;
  }

  app-recently-viewed-egg {
    display: none;
  }

  .formfields_ {
    border: none;
    padding: calc($_20_SPACING_SIZE * 2) 0;
    background: transparent;
  }

  // Restructure the mobile outline of the home pitch
  .recommended-sections section.section-header {
    padding-right: 0;
  }

  .recommended-sections section .section-name {
    font-size: 18px !important;
  }

  .recommended-sections section .section-more .desktop-text {
    display: none;
  }

  .recommended-sections section .section-more .mobile-text {
    display: block !important;
  }

  section.pitches-tiles.one-display-size {
    padding-top: 0 !important;
    gap: 20px !important;
  }

  .pitch {
    flex-direction: column !important;
    padding-top: 0 !important;

    .pitch-funding-purpose {
      font-size: 32px !important;
      text-align: justify !important;
    }

    .thumbnail-container .thumbnail {
      height: 150px !important;
    }
  }

  .page-eggs-layout app-egg {
    display: flex !important;
    flex-direction: column !important;
    gap: 20px !important;
  }

  .page-eggs-layout app-egg .name {
    font-size: 18px;
  }

  .page-eggs-layout {
    gap: 10px;

    .thumbnail-container {
      height: 150px !important;
    }
  }

  .egg-campaign-container {
    margin-bottom: 10px;
    margin-top: 10px;
    gap: 0 !important;
  }

  .header-container > a:not(.hetchfund-header-logo),
  .header-container .start-pitch-button {
    display: none;
  }

  // Sidebar
  .sidebar {
    width: 100vw !important;

    .section-content {
      padding: 10px 0 10px 40px !important;
    }
  }

  // Contribution Option.
  .contribution-option.custom {
    padding: $_20_SPACING_SIZE 0 !important;
    border-radius: 0 !important;

    &[data-selected="true"] {
      background-color: $BACKGROUND_COLOR;

      .input-container {
        border-color: $SECONDARY_THEME_COLOR !important;
      }

      .currency-name::after {
        display: none;
      }
      
      .currency-name::before {
        content: attr(data-mobile-currency) !important;
        display: inline-block;
        color: $SECONDARY_THEME_COLOR !important;
      }
    }
  }
  
  .contribution-option .option-level,
  .contribution-option .option-image {
    display: none !important;
  }
}

@media screen and (max-width: 280px) {
  .sidebar .section-content {
    padding: 10px 0 !important;
  }
}

@media screen and (max-width: 1024px) {
  .pitch > * {
    flex: 1;
  }

  .pitch .thumbnail-container .thumbnail {
    width: 100% !important;
    height: 400px;
  }
}
