<ion-content>
  <app-header highlightHeader="pitches"></app-header>

  <div class="page-content content-wrapper">
    <section class="pitches-tiles one-display-size dark-style">
      <span class="pitches-subsection-label header-text-style">Featured pitch</span>
      <div class="pitch" *ngIf="this.featured !== null">
        <div class="thumbnail-container">
          <div
            class="thumbnail"
            [style.background-image]="'url(' + this.featured?.thumbnail_url + ')'"
          ></div>
        </div>
        
        <div class="pitch-details">
          <a
            [href]="'/pitches/' + this.featured?.key"
            class="header-text-style pitch-funding-purpose"
          >
            {{ this.featured?.name }}
          </a>

          <div class="amount-funded-percentage">
            <div>
              <ins class="percentage-funded currency-selectable first"
                >{{ this.featured?.hetched_funds_perc }}%</ins
              >
              <span class="gray-text-style"> OUT OF </span>
              <ins
                class="currency-selectable last"
                (click)="this.currencyResolver.openCurrencySelectorModal()"
                >{{
                this.currencyResolver.translate(this.featured?.hetching_goal)
                }}</ins
              >
              <span class="gray-text-style"> FUNDED</span>
            </div>
          </div>

          <div class="funding-progress">
            <div class="progress-total">
              <div
                class="progress-current"
                [style.width]="(this.featured?.hetched_funds_perc >= 100 ? 100 : this.featured?.hetched_funds_perc) + '%'"
              ></div>
            </div>
          </div>

          <div class="pitch-description">
            {{ this.featured?.brief_description }}
          </div>

          <div class="buttons">
            <a [href]="'/pitches/' + this.featured?.key" class="button">View Pitch</a>
            <a [href]="'/pitches/' + this.featured?.key + '/contribution'" class="button secondary">Make a contribution</a>
          </div>
        </div>
      </div>
    </section>

    <div
      *ngFor="let section_name of this.recommended_sections"
      >
        <section
          class="pitches-tiles one-display-size dark-style section-header"
        >
          <div class="header-text-style small section-name">
            {{section_name}}: {{this.recommended_sections[section_name]?.length}}
          </div>
          <a
            class="button bordered section-more"
            [href]="'/categories/' + section_name"
          >
            Browse category
          </a>
        </section>
        <!-- Pitches section. -->
        <div class="page-eggs-layout" *ngIf="this.recommended_sections[section_name]?.length !== 0">
          <app-egg
            color_style="light"
            *ngFor="let pitch_recommended of this.recommended[section_name]"
            [is_draft]="false"
            [data]="pitch_recommended"
          ></app-egg>
        </div>
      </div>
  </div>
  <app-footer></app-footer>
</ion-content>
