@import "../../variables.scss";

.page-content {
  padding: 0;
  margin: 0;
}

.pitch-funding-purpose {
  font-weight: normal !important;
}

.pitches-subsection-label {
  display: block;
  margin-bottom: $_20_SPACING_SIZE;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

section > *:first-child {
  margin-top: 30px;
}

section > *:last-child {
  margin-bottom: 30px;
}

section.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $_20_SPACING_SIZE;
}

section.section-header a.section-more {
  transform: translateY(26px);
  margin-right: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px !important;
}

section.section-header a.section-more .mobile-text {
  display: none;
}

section.section-header a.section-more:hover {
  text-decoration-style: solid;
}

swiper-container {
  position: relative;
}

.slider-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  padding: 0 !important;
  pointer-events: none;

  .slider-button {
    pointer-events: all;

    &:first-child {
      transform: translateX(-20px);
    }
  
    &:last-child {
      transform: translateX(20px);
    }

    &[data-disabled="true"] {
      opacity: 0.2;
    }
  }

  .slider-button svg {
    height: 80px;
    transform: scaleY(4);
    fill: transparent !important;
    stroke: #FFF;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }
}